.img-avatar {
    width: 80px;
}

.table tbody tr td {
    vertical-align: middle;
}

.action-inline {
    display: inline;
}

.pagination {
    float: right;
    margin-right: 60px;
}

.invalid-feedback {
    color: red;
}
